<%= form_for :query, :url=>{:action=>"query"} do |f| %>
    
        General Search: <%= f.text_field(:keyword) %> <br />
		<%= label_tag(:entities, "Return entities?") %>
        <%= f.check_box(:entities) %> <br />
        Number of Results: <%= f.text_field(:count) %> <br />
        (Max 100) <br />
        Result Type: <%= f.select :result_type, [['Recent','recent'],['Mixed','mixed'],['Popular','popular'],['None', 'False']] %>
            <p> * mixed: Include both popular and real time results in the response.<br />
              * recent: return only the most recent results in the response<br />
              * popular: return only the most popular results in the response.</p><br />
        <%= label_tag(:recent, "Return only recent results?") %>
        <%= f.check_box(:recent) %> <br />
        Return results until: <%= f.text_field(:search_date, "data-provide" => 'datepicker') %> <br /><br />

		<%= submit_tag "Search"%>
<% end %>