<% content_for :title do %>Home<% end %>

<h1>Welcome
  <% if user_signed_in? %>
   <%= current_user.email %>
  <% end %>
</h1>

  <% if !@last.nil? %>
    <p>
  Below is your last five seach words:
      </p>
    <table id="result-table" class="table" width="100%">
      <thead>
      <tr>
        <th>Search Word(s)</th>
        <th>Search Limit</th>
        <th>Query Type</th>
        <th>Search Date</th>
        <th>Created</th>
      </tr>
      </thead>
      <tbody>
      <% @last.each do |last| %>
          <tr>
            <td><%= last.search_query %></td>
            <td><%= last.search_limit %></td>
            <td><%= last.query_type %></td>
            <td><%= last.search_date %></td>
            <td><%= DateTime.parse(last.created_at).strftime("%m/%d/%y at %I:%M %p") %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="clear"></div>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#result-table').DataTable({
                "bJQueryUI": true,
                "bAutoWidth": true,
                "bAutoHeight": false,
                "bFilter": false,
                "bLengthChange": false,
                "length": 5,
                "iDisplayLength": 5,
                "bInfo": false,
                "bPaginate": false,
                "aoColumns": [
                    { "sSortDataType": "dom-text"},
                    { "sSortDataType": "dom-text"},
                    { "sSortDataType": "dom-text"},
                    { "sSortDataType": "dom-text"},
                    { "sSortDataType": "dom-text"}
                ]
            });

        });
    </script>
  <% end %>
<br /><br />
Click <%= link_to 'New Search', main_search_path, class: 'btn-xs btn-success' %> to start a new twitter feed.
<% if !user_signed_in? %>
    Or log in  to go to your account.
<% end %>