<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <!-- Left pane -->
    <div class="col-xs-2 sidebar">
    </div>
    <!--middle pane-->
    <div class="col-xs-8">
<!-- header section -->
<header class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2">
        <!--header left pane-->
      </div>
      <div class="col-xs-8">
        <!--header middle pane-->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Twitter Query Engine</a>
        </div>
        <nav>
          <ul class="nav navbar-nav">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Admin",   main_admin_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
        <div class="nav navbar-text">
          <%= render 'layouts/user_widget' %>
        </div>
      </div>
      <div class="col-xs-2">
        <!--header right pane -->
      </div>
    </div>
  </div>
</header><!-- end of header content-->

<!-- content section -->
<div class="container-fluid">
  <% if notice.present? %>
    <p class="warning"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert warning"><%= alert %></p>
  <% end %>

  <%= yield %>
</div><!-- end of main content-->

<!-- footer section -->
<footer class="footer navbar-fixed-bottom navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
        <div class="nav navbar-text">
          Twitter Query Engine Copyright <%= Time.now.year %>
        </div>
        <nav>
          <ul class="nav navbar-nav">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "About", '#' %></li>
            <li><a href="http://news.railstutorial.org/">News</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-2">
      </div>
    </div>
  </div>
</footer><!-- end of footer content-->

<!-- right sidebar-->
</div>
    <div class="col-xs-2 sidebar">
    </div>
</div><!-- end of right sidebar-->
</div>
</body>
</html>
