<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page-container" class="container-fluid">

  <%= render "layouts/header" %>

  <div id="content-container" class="row">
    <!-- Left sidebar -->
    <div id="left-container" class="col-xs-2 col-md-2 sidebar"></div>

    <!-- content-->
    <div id="content" class="col-xs-8 col-md-8">

      <!-- content section -->
      <%= render "layouts/content" %>

    </div>

    <!-- right sidebar-->
    <div id="right-container" class="col-xs-2 col-md-2 sidebar container-fluid"></div>



  </div>  <!-- end of content-container -->

  <!-- footer -->
  <%= render "layouts/footer" %>

</div><!-- end of page-container -->
</body>
</html>
